RSMS/Connected Services/BookingServiceRef/RSMSMODELS.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingID" type="ser:guid" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartyNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SpecialOccasion" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
</xs:schema>