RSMS/Connected Services/BookingServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" minOccurs="0" name="pBooking" nillable="true" type="q1:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBookingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" minOccurs="0" name="pBooking" nillable="true" type="q2:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBookingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pBookingID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelBookingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pBookingID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" minOccurs="0" name="GetBookingResult" nillable="true" type="q5:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsFromPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsFromPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" minOccurs="0" name="GetBookingsFromPeriodResult" nillable="true" type="q6:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" minOccurs="0" name="GetBookingsResult" nillable="true" type="q7:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pBookingID" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" minOccurs="0" name="GetTableBookingResult" nillable="true" type="q9:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableBookingsFromPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pDateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableBookingsFromPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" minOccurs="0" name="GetTableBookingsFromPeriodResult" nillable="true" type="q10:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableBookings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" minOccurs="0" name="GetTableBookingsResult" nillable="true" type="q11:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTableBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pBookingID" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pTables" nillable="true" type="q13:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTableBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTableBookingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTableBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pBookingID" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pOldTables" nillable="true" type="q15:ArrayOfguid" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pNewTables" nillable="true" type="q16:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTableBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTableBookingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>