RSMS/Connected Services/BookingServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RSMSMODELS.Models" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookingService_CreateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_UpdateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_UpdateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CancelBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CancelBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetBookingsFromPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsFromPeriod" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetBookingsFromPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsFromPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetBookings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookings" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetBookings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetTableBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetTableBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetTableBookingsFromPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableBookingsFromPeriod" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetTableBookingsFromPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableBookingsFromPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetTableBookings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableBookings" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetTableBookings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateTableBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTableBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateTableBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTableBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_UpdateTableBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTableBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_UpdateTableBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTableBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookingService">
    <wsdl:operation name="CreateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/CreateBooking" message="tns:IBookingService_CreateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/CreateBookingResponse" message="tns:IBookingService_CreateBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/UpdateBooking" message="tns:IBookingService_UpdateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/UpdateBookingResponse" message="tns:IBookingService_UpdateBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/CancelBooking" message="tns:IBookingService_CancelBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/CancelBookingResponse" message="tns:IBookingService_CancelBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetBooking" message="tns:IBookingService_GetBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetBookingResponse" message="tns:IBookingService_GetBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingsFromPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetBookingsFromPeriod" message="tns:IBookingService_GetBookingsFromPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetBookingsFromPeriodResponse" message="tns:IBookingService_GetBookingsFromPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetBookings" message="tns:IBookingService_GetBookings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetBookingsResponse" message="tns:IBookingService_GetBookings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetTableBooking" message="tns:IBookingService_GetTableBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetTableBookingResponse" message="tns:IBookingService_GetTableBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableBookingsFromPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetTableBookingsFromPeriod" message="tns:IBookingService_GetTableBookingsFromPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetTableBookingsFromPeriodResponse" message="tns:IBookingService_GetTableBookingsFromPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableBookings">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetTableBookings" message="tns:IBookingService_GetTableBookings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetTableBookingsResponse" message="tns:IBookingService_GetTableBookings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTableBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/CreateTableBooking" message="tns:IBookingService_CreateTableBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/CreateTableBookingResponse" message="tns:IBookingService_CreateTableBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTableBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/UpdateTableBooking" message="tns:IBookingService_UpdateTableBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/UpdateTableBookingResponse" message="tns:IBookingService_UpdateTableBooking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookingService" type="tns:IBookingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/CreateBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/UpdateBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/CancelBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsFromPeriod">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetBookingsFromPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetTableBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableBookingsFromPeriod">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetTableBookingsFromPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableBookings">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetTableBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTableBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/CreateTableBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTableBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/UpdateTableBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingService">
    <wsdl:port name="BasicHttpBinding_IBookingService" binding="tns:BasicHttpBinding_IBookingService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BookingService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>